body {
    margin: 0;
    font-family: Arial;
    color: white;
    text-align: center;
    background: radial-gradient(circle, #6a0dad, #000);
    overflow-x: hidden;
}

/* BOTÃO MÚSICA */
#btnMusica {
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 10;
}

/* TELAS */
.tela {
    position: fixed;
    width: 100%;
    height: 100vh;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: 1s;
}

.ativa {
    display: flex;
    animation: fade 1s;
}

@keyframes fade {
    from {opacity: 0;}
    to {opacity: 1;}
}

/* GLOW */
.glow {
    font-size: 3rem;
    animation: brilho 2s infinite;
}

@keyframes brilho {
    0% {text-shadow: 0 0 10px #fff;}
    50% {text-shadow: 0 0 30px #ff00ff;}
    100% {text-shadow: 0 0 10px #fff;}
}

/* FOTO */
img {
    width: 250px;
    border-radius: 20px;
    margin: 20px;
}

/* CARTA */
.envelope {
    font-size: 5rem;
    cursor: pointer;
}

.conteudo-carta {
    max-width: 400px;
    margin-top: 20px;
}

.hidden {
    display: none;
}

/* FINAL */
.final {
    font-size: 3rem;
    animation: pulse 1s infinite;
}

@keyframes pulse {
    0% {transform: scale(1);}
    50% {transform: scale(1.2);}
}

/* MOBILE */
@media (max-width: 600px) {
    img {width: 180px;}
    .glow {font-size: 2rem;}
}